In [14]:
import pandas
import numpy
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn
import sklearn

seaborn.set()

In [19]:
raw_data = pandas.read_csv('3.3 1.01. Simple linear regression.csv.csv')
raw_data

    Entrace   GPA Attendance
0      1714  2.40        Yes
1      1664  2.52         No
2      1760  2.54         No
3      1685  2.74         No
4      1693  2.83         No
..      ...   ...        ...
79     1936  3.71         No
80     1810  3.71        Yes
81     1987  3.73        Yes
82     1962  3.76         No
83     2050  3.81         No

[84 rows x 3 columns]

In [20]:
raw_data['Attendance'] = raw_data['Attendance'].map({'Yes': 1, 'No': 0})

In [22]:
raw_data

    Entrace   GPA  Attendance
0      1714  2.40           1
1      1664  2.52           0
2      1760  2.54           0
3      1685  2.74           0
4      1693  2.83           0
..      ...   ...         ...
79     1936  3.71           0
80     1810  3.71           1
81     1987  3.73           1
82     1962  3.76           0
83     2050  3.81           0

[84 rows x 3 columns]

In [25]:
y = raw_data['GPA']
x1 = raw_data[['Entrace', 'Attendance']]
x1

    Entrace  Attendance
0      1714           1
1      1664           0
2      1760           0
3      1685           0
4      1693           0
..      ...         ...
79     1936           0
80     1810           1
81     1987           1
82     1962           0
83     2050           0

[84 rows x 2 columns]

In [27]:
x = sm.add_constant(x1)
OLS_result = sm.OLS(y, x).fit()
OLS_result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    GPA   R-squared:                       0.408
Model:                            OLS   Adj. R-squared:                  0.394
Method:                 Least Squares   F-statistic:                     27.95
Date:                Sun, 07 Jun 2020   Prob (F-statistic):           5.87e-10
Time:                        06:35:04   Log-Likelihood:                 12.838
No. Observations:                  84   AIC:                            -19.68
Df Residuals:                      81   BIC:                            -12.38
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.2516      0.413      0.610      0.544      -0.569       1.072
Entrace        0.0017      0.000      7.470      0.000       0.001       0.002
Attendance     0.0267      0.047      0.567      0.572      -0.067       0.120
==============================================================================
Omnibus:                       12.177   Durbin-Watson:                   0.967
Prob(Omnibus):                  0.002   Jarque-Bera (JB):               15.070
Skew:                          -0.695   Prob(JB):                     0.000534
Kurtosis:                       4.541   Cond. No.                     3.30e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.3e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [30]:
new_data = pandas.DataFrame({'constant':1, 'Entrace': [1763, 1688], 'Attendance': [1,0]})
new_data.rename(index={0: 'Sahaj', 1: 'Malla'})

       constant  Entrace  Attendance
Sahaj         1     1763           1
Malla         1     1688           0

In [33]:
predictions = OLS_result.predict(new_data)
predictions

0    3.204479
1    3.053314
dtype: float64

In [37]:
prediction_df = pandas.DataFrame({'prediction': predictions})
prediction_df

   prediction
0    3.204479
1    3.053314

In [38]:
predicted_data = new_data.join(prediction_df)

In [47]:

predicted_data.values

array([[1.00000000e+00, 1.76300000e+03, 1.00000000e+00, 3.20447929e+00],
       [1.00000000e+00, 1.68800000e+03, 0.00000000e+00, 3.05331444e+00]])

In [49]:
predicted_data

   constant  Entrace  Attendance  prediction
0         1     1763           1    3.204479
1         1     1688           0    3.053314

In [50]:
numpy.arange(1,10)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])